* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Century Gothic;
    /* font-size: 28px; */
}
a {
    text-decoration: none !important;
    list-style: none !important;
   
  }

body {
    background: #BFBFBF;
}
  .nav2 a:hover {
    color: black;
  }

.block1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 125px 0;
    padding: 0 150px;
    gap: 100px;
}


.block1 img {
    width: max-content;
    height: 900px;
}

.btn_text {
    cursor: pointer;
    margin-top: 80px;
    border: none;
    width: 250px;
    height: 80px;
    border-radius: 15px;
    background: #2B363A;
    box-shadow: 20px 10px 30px 0px rgba(0, 0, 0, 0.25);
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: white;
}
.btn_text:hover{
    background-color: #fff;
    color: #000;
}

.text h1 {
    color: #000;
    font-family: "Century Gothic";
    font-size: 40px;
    font-weight: 400;
}

.text p {
    margin-top: 40px;
    font-size: 28px;
}

.text :nth-child(6),
.text :nth-child(4) {
    margin-top: 80px;
    
}

footer {
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    height: 485px;
    background: #2B363A;
}

.logo3 {
    width: 140px;
    height: 75px;
    cursor: pointer;
}

.description {
    display: flex;
    width: 800px;
    justify-content: space-between;
}

.description a,
.description p {
    color: white;
    font-size: 28px;
    border: none;
}

.description a {
    margin-top: 20px;
}

.description div :nth-child(2) {
    margin-top: 45px;
}

.description div {
    display: flex;
    flex-direction: column;
}

.contact {
    display: flex;
    width: 155px;
    height: 155px;
}

.contact img {
    width: 55px;
    height: 55px;
}

@media screen and (max-width: 1400px) {
    .block1{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: auto;
    }
    
    .block1 img {
        width: 500px;
        height: 600px;
    }
}
@media screen and (max-width: 780px) {
    .text h1{
        font-size: 25px;
    }
    .text p{
        font-size: 20px;
        margin-top: 10px;
    }
    .btn_text{
        font-size: 20px;
        height: 50px;
        margin-top: 40px;
    }
    .text :nth-child(6), .text :nth-child(4){
        margin-top: 20px;
    }
}
@media screen and (max-width: 520px) {
    .block1 img {
        width: 300px;
        height: 400px;
    }
}