@font-face {
  font-family: 'Jacques Francois';
  src: url(../font/JF/JacquesFrancois-Regular.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: Century Gothic;
  font-size: 28px;
}
.header2 {
  width: 100%;
  height: 136px;
  font-weight: 28px;
  background-color: #2b363a;
  color: #fff;
}
.nav2 {
  padding: 50px;
  display: flex;
  justify-content: center;
  gap: 90px;
}
.nav2 a {
  font-size: 28px;
  margin-top: 5px;
  border: none;
  cursor: pointer;
}

.logo2 {
  width: 90px;
  height: 40px;
  cursor: pointer;
  margin-right: 280px;
}
.cart2 {
  width: 53px;
  height: 48px;
  cursor: pointer;
}
.nav2 a:hover {
  color: black;
}
.nav2 :nth-child(5) {
  margin-left: 250px;
}

body {
  background: #BFBFBF;
}

.block1 img {
  width: 100%;
  height: 100%;
}

.img17,
.img18 {
  width: 600px;
  height: 600px;
}

.block1 {
  margin-top: 125px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 60px;
}

.description1 {
  width: 790px;
}

.description1 h1 {
  font-family: 'Jacques Francois';
  font-size: 65px;
}

ul {
  margin-left: 25px;
}

ul li {
  list-style: circle;
}

.description1 p {
  font-size: 28px;
}

.description1 :nth-child(3) {
  font-size: 28px;
}

.block2 {
  margin-top: 125px;
  margin-bottom: 125px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

br {
  margin-top: 15px;
}

.description2 {
  width: 710px;
  height: 100%;
  font-size: 28px;
}

footer {
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  height: 485px;
  background: #2B363A;
}

.logo3 {
  width: 140px;
  height: 75px;
  cursor: pointer;
}

.description {
  display: flex;
  width: 800px;
  justify-content: space-between;
}

.description a,
.description p {
  color: white;
  font-size: 28px;
  border: none;
  ;
}

.description a {
  margin-top: 20px;
}

.description div :nth-child(2) {
  margin-top: 45px;
}

.description div {
  display: flex;
  flex-direction: column;
}

.contact {
  display: flex;
  width: 155px;
  height: 155px;
}

.contact img {
  width: 55px;
  height: 55px;
}